.navibar {
  padding: 0 1rem;
  border-bottom: 0.1px solid #fff;
}

.navbar-nav a {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-brand {
  color: white !important;
  padding: 4px 30px;
  border-radius: 50px;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.navbar-brand span {
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-text button {
  margin: 0 1rem;
}

.me-auto {
  display: flex !important;
  flex: 1;
}
.me-auto a {
  justify-content: center;
}

.me-auto a:hover {
  transform: scale(1.3);
  animation: ease-in-out;
  transition: 0.2s;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
}

.social-icon a {
  border: 1px solid #fff;

  margin: 0 10px;
  padding: 5px 8px;
  border-radius: 35%;
  text-align: center;
}

.active {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
  font-weight: 800 !important;
}

.social-icon a:hover {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  border: 1px solid #c850c0;
}

.header-button {
  border: none !important;
}

.header-button:hover {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
  border: none !important;
}
